<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>newProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.newproject.servlets.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.newproject.servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.newproject.servlets.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categoryServlet</display-name>
    <servlet-name>categoryServlet</servlet-name>
    <servlet-class>com.newproject.servlets.categoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productServlet</display-name>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>com.newproject.servlets.productServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartServlet</display-name>
    <servlet-name>cartServlet</servlet-name>
    <servlet-class>com.newproject.servlets.cartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartdeleteServlet</display-name>
    <servlet-name>cartdeleteServlet</servlet-name>
    <servlet-class>com.newproject.servlets.cartdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartdeleteServlet</servlet-name>
    <url-pattern>/cartdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addoneproductServlet</display-name>
    <servlet-name>addoneproductServlet</servlet-name>
    <servlet-class>com.newproject.servlets.addoneproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addoneproductServlet</servlet-name>
    <url-pattern>/addoneproductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeoneproductServlet</display-name>
    <servlet-name>removeoneproductServlet</servlet-name>
    <servlet-class>com.newproject.servlets.removeoneproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeoneproductServlet</servlet-name>
    <url-pattern>/removeoneproductServlet</url-pattern>
  </servlet-mapping>
</web-app>